[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {version = "*", extras = ["celery", "crypto", "password", "postgres", "redis", "hashicorp"]}
docker = {version = "*"}
marshmallow_dataclass = "<6.0"
uplink = {version = "*", extras = ["marshmallow"]}

[requires]
python_version = "3.7"
