sqlalchemy < 1.4.0
apache-airflow[celery,crypto,hashicorp,password,postgres,redis]
docker
psycopg2-binary
python-dotenv
minio
requests
loguru
icecream
fhir.resources
git+https://gitlab.com/PersonalHealthTrain/implementations/germanmii/difuture/train-container-library.git

