{% extends "airflow/master.html" %}

{% block head_css %}
{{ super() }}
<link href="{{ url_for("static", filename="dataTables.bootstrap.css") }}"  rel="stylesheet" type="text/css" >
<link href="{{ url_for("static", filename="select.dataTables.min.css") }}" rel="stylesheet" type="text/css" >
<link href="{{ url_for("static", filename="bootstrap-toggle.min.css") }}"  rel="stylesheet" type="text/css">
{% endblock %}

{% block tail %}
  {{ super() }}
  <script src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dataTables.select.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap-toggle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap3-typeahead.min.js') }}"></script>
{% endblock %}
